---
import AppLayout from '../layouts/AppLayout.astro'
import FeedItem from '../components/FeedItem.astro'
import Prompt from '../components/Prompt.astro'
import ReplyPrompt from '../components/ReplyPrompt.astro'
---

<AppLayout>
  <nav class="px-4">
    <ul class="flex justify-end gap-8 text-sm py-1">
      <li>
        <a href="#" class="hover:underline">For you</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Idea Streams</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Following</a>
      </li>
    </ul>
  </nav>

  <main class="overflow-y-auto py-8 px-4">
    <Prompt />

    <hr class="border-pixl-light/10 mt-3" />

    <!-- ----------------------------- -->
    <!-- Feed -->
    <!-- ----------------------------- -->
    <ol class="mt-4">
      <FeedItem
        name="Simon"
        handle="simonswiss"
        timeAgo="2h"
        image="simon-chilling.png"
        hasReplyPrompt
      >
        <p>Whoaaaa, this is pretty cool, seriously.</p>
      </FeedItem>
      <FeedItem name="Adelle" timeAgo="2h" image="adelle.png" handle="add-elle">
        <p>
          Presumably, if you're watching this series, you've already made the decision to embrace
          all that Laravel has to offer. However, if you're still on the fence, give me just a
          moment to sell you on why I believe Laravel is the best framework choice in the PHP world.
        </p>
      </FeedItem>
      <FeedItem hasReplies handle="mmich_jj" name="Michael" timeAgo="4h30" image="michael.png">
        <p>
          I made this! <a class="hover:underline text-pixl-highlight" href="#">#myartwork</a>
          <a class="hover:underline text-pixl-highlight" href="#">#pixl</a>
        </p>
        <img src="/images/simon-chilling.png" alt="" />
      </FeedItem>

      <FeedItem name="Adelle" handle="add-elle" timeAgo="2days" image="adelle.png">
        <p>I love being here, anyone else feel the same?</p>
      </FeedItem>
      <FeedItem name="Simon" handle="simonswiss" timeAgo="2h" image="simon-chilling.png">
        <p>Whoaaaa, this is pretty cool, seriously.</p>
      </FeedItem>
      <FeedItem name="Adelle" timeAgo="2h" image="adelle.png" handle="add-elle">
        <p>
          Presumably, if you're watching this series, you've already made the decision to embrace
          all that Laravel has to offer. However, if you're still on the fence, give me just a
          moment to sell you on why I believe Laravel is the best framework choice in the PHP world.
        </p>
      </FeedItem>
      <FeedItem handle="mmich_jj" name="Michael" timeAgo="4h30" image="michael.png">
        <p>
          I made this! <a class="hover:underline text-pixl-highlight" href="#">#myartwork</a>
          <a class="hover:underline text-pixl-highlight" href="#">#pixl</a>
        </p>
      </FeedItem>
      <FeedItem name="Adelle" handle="add-elle" timeAgo="2days" image="adelle.png">
        <p>I love being here, anyone else feel the same?</p>
      </FeedItem>
      <FeedItem name="Simon" handle="simonswiss" timeAgo="2h" image="simon-chilling.png">
        <p>Whoaaaa, this is pretty cool, seriously.</p>
      </FeedItem>
      <FeedItem name="Adelle" timeAgo="2h" image="adelle.png" handle="add-elle">
        <p>
          Presumably, if you're watching this series, you've already made the decision to embrace
          all that Laravel has to offer. However, if you're still on the fence, give me just a
          moment to sell you on why I believe Laravel is the best framework choice in the PHP world.
        </p>
      </FeedItem>
      <FeedItem handle="mmich_jj" name="Michael" timeAgo="4h30" image="michael.png">
        <p>
          I made this! <a class="hover:underline text-pixl-highlight" href="#">#myartwork</a>
          <a class="hover:underline text-pixl-highlight" href="#">#pixl</a>
        </p>
      </FeedItem>
      <FeedItem name="Adelle" handle="add-elle" timeAgo="2days" image="adelle.png">
        <p>I love being here, anyone else feel the same?</p>
      </FeedItem>
    </ol>
  </main>
</AppLayout>
