---
import AppLayout from '../layouts/AppLayout.astro'
import FeedItem from '../components/FeedItem.astro'
import ThatsAllFolks from '../components/ThatsAllFolks.astro'
---

<AppLayout>
  <a class="group px-4 flex items-center gap-1" href="/feed">
    <svg class="size-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" fill="none"
      ><path
        fill="currentColor"
        d="M6.857 0v1.714H5.143V0zM5.143 1.715v1.714H3.429V1.715zM3.427 3.429v1.714H1.713V3.429zM1.715 5.143v1.714H0V5.143zm1.713 1.715v1.714H1.714V6.858zm1.714 1.714v1.714H3.428V8.572zm1.715 1.713V12H5.143v-1.714z"
      ></path>
      <path
        fill="currentColor"
        class="opacity-50 group-hover:opacity-100"
        d="M12 0v1.714h-1.714V0zm-1.714 1.714v1.714H8.572V1.714zM8.57 3.428v1.714H6.856V3.428zM6.857 5.143v1.714H5.143V5.143zM8.57 6.858v1.714H6.856V6.858zm1.715 1.714v1.714H8.571V8.572zM12 10.286V12h-1.714v-1.714z"
      ></path></svg
    >
    <span> back </span>
  </a>

  <main class="mt-6 overflow-y-auto pb-8 px-4">
    <!-- ----------------------------- -->
    <!-- Profile header -->
    <!-- ----------------------------- -->
    <header>
      <img src="/images/cover.png" alt="" />
      <div
        class="flex flex-col min-[400px]:flex-row gap-4 items-start min-[400px]:items-end -mt-12 md:-mt-16 xl:-mt-24 justify-between"
      >
        <div class="flex gap-4 items-end">
          <img src="/images/adrian.png" class="size-24 md:size-32 xl:size-48 object-cover" alt="" />
          <div>
            <h1>_adrian</h1>
            <p class="text-pixl-light/50">@tudsss</p>
          </div>
        </div>
        <button
          class="text-pixl-highlight border-pixl-highlight bg-transparent border px-2 py-1 hover:bg-pixl-highlight/10"
          >Edit Profile</button
        >
      </div>
      <div class="mt-8">
        <p>
          I design <a href="#" class="text-pixl-highlight">@Laracasts</a> so hit me up whenever =]
        </p>
        <dl class="mt-6 flex flex-wrap gap-x-6 gap-y-4">
          <div class="flex gap-1">
            <dt>100</dt>
            <dd class="text-pixl-light/50">Following</dd>
          </div>
          <div class="flex gap-1">
            <dt>2900</dt>
            <dd class="text-pixl-light/50">Followers</dd>
          </div>
        </dl>
      </div>
    </header>

    <!-- ----------------------------- -->
    <!-- Tabs -->
    <!-- ----------------------------- -->
    <ul class="mt-8 flex flex-wrap gap-6 justify-end">
      <li><a href="#">Posts</a></li>
      <li><a href="#" class="text-pixl-light/50 hover:text-pixl-light/75">Replies</a></li>
      <li><a href="#" class="text-pixl-light/50 hover:text-pixl-light/75">Highlights</a></li>
      <li>
        <a href="#" class="text-pixl-light/50 hover:text-pixl-light/75">Inspiration Streams</a>
      </li>
    </ul>

    <hr class="border-pixl-light/10 mt-3" />

    <!-- ----------------------------- -->
    <!-- Feed -->
    <!-- ----------------------------- -->
    <ol class="mt-4">
      <FeedItem name="_adrian" handle="tudssss" timeAgo="2h" image="adrian.png">
        <p>
          Love it! <a href="#" class="text-pixl-highlight hover:underline">#audionerds</a>
          <a href="#" class="text-pixl-highlight hover:underline">#screencasts</a>
        </p>
        <div class="border border-pixl-light/10 p-4 mt-4">
          <div class="flex gap-4 flex-col min-[400px]:flex-row items-start">
            <a href="/profile" class="shrink-0">
              <img src="/images/simon-chilling.png" class="size-12 object-cover" alt="" />
            </a>
            <div class="flex-1">
              <div class="flex items-center justify-between">
                <div class="flex gap-x-3 gap-y-2 flex-wrap items-start leading-none">
                  <h2><a href="/profile" class="hover:underline">simonswiss</a></h2>
                  <p class="text-xs text-pixl-light/50">2h</p>
                  <a href="/profile" class="text-xs text-pixl-light/50 hover:text-pixl-light/75"
                    >@simonswiss</a
                  >
                </div>
              </div>
              <div class="text-sm mt-4 flex flex-col gap-4">
                <p>
                  I'm pretty stoked with my new Senheiser MKH50 microphone. You can instantly tell
                  why it's been a staple of the industry for multiple decades.
                </p>
                <p>
                  I know it's a lot of money... but I have a certain passion and obsession for
                  microphones 😅
                </p>
              </div>
            </div>
          </div>
        </div>
      </FeedItem>
      <FeedItem name="Adelle" timeAgo="2h" image="adelle.png" handle="add-elle" isLiked>
        <p>
          Presumably, if you're watching this series, you've already made the decision to embrace
          all that Laravel has to offer. However, if you're still on the fence, give me just a
          moment to sell you on why I believe Laravel is the best framework choice in the PHP world.
        </p>
      </FeedItem>
      <FeedItem reposted handle="mmich_jj" name="Michael" timeAgo="4h30" image="michael.png">
        <p>
          I made this! <a class="hover:underline text-pixl-highlight" href="#">#myartwork</a>
          <a class="hover:underline text-pixl-highlight" href="#">#pixl</a>
        </p>
        <img src="/images/simon-chilling.png" alt="" />
      </FeedItem>
      <FeedItem handle="mmich_jj" name="Michael" timeAgo="4h30" image="michael.png">
        <p>
          I made this! <a class="hover:underline text-pixl-highlight" href="#">#myartwork</a>
          <a class="hover:underline text-pixl-highlight" href="#">#pixl</a>
        </p>
      </FeedItem>
      <FeedItem name="Adelle" handle="add-elle" timeAgo="2days" image="adelle.png">
        <p>I love being here, anyone else feel the same?</p>
      </FeedItem>
    </ol>
    <ThatsAllFolks />
  </main>
</AppLayout>
