<button aria-label="Post options" class="flex gap-1 group py-2">
  <span class="size-1 group-hover:bg-pixl-light/75 bg-pixl-light/50"></span>
  <span class="size-1 group-hover:bg-pixl-light/75 bg-pixl-light/50"></span>
  <span class="size-1 group-hover:bg-pixl-light/75 bg-pixl-light/50"></span>
</button>
