<footer class="ml-14 md:ml-16 mt-24 text-center">
  <p>That's all folks!</p>
  <hr class="border-pixl-light/10 my-4" />
  <!-- White noise -->
  <div class="h-18 bg-[url(/images/white-noise.gif)] opacity-75"></div>
</footer>
